<!DOCTYPE html>
<html>
  <h1>Crypto Ecosystem Map Data</h1>

  <h3>Last Updated: {{last_updated_date}}</h3>
  <h3>Refresh Ecosystem map data:</h3>
  <a href="updateData"><input type="”button”" value="Update Data" /></a>

  <h4>Status (Please refresh page to update): {{status_value}}</h4>
  <!-- <div>{{status_value}}</div> -->

  <h3>Download Figma Data in CSV Format:</h3>
  <a href="getFigmaCSV"><input type="”button”" value="Download Figma Data" /></a>

  <h3>Download Data in JSON Format:</h3>
  <a href="getFinalJSON"><input type="”button”" value="Download JSON Data" /></a>
</html>
